<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{property.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{property.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/propertys/add}" th:text="#{property.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${propertys.empty}" th:text="#{property.list.empty}" />
            <div th:if="${!propertys.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{property.id.label}" scope="col" />
                            <th th:text="#{property.type.label}" scope="col" />
                            <th th:text="#{property.description.label}" scope="col" />
                            <th th:text="#{property.address.label}" scope="col" />
                            <th th:text="#{property.rooms.label}" scope="col" />
                            <th th:text="#{property.active.label}" scope="col" />
                            <th th:text="#{property.owner.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="property : ${propertys}">
                            <td th:text="${property.id}" />
                            <td th:text="${property.type}" />
                            <td th:text="${property.description}" />
                            <td th:text="${property.address}" />
                            <td th:text="${property.rooms}" />
                            <td th:text="${property.active}" />
                            <td th:text="${property.owner}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/propertys/edit/{id}(id=${property.id})}" th:text="#{property.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/propertys/delete/{id}(id=${property.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{property.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
